<template>
  <div id="app">
    <h3>Select Timezone Area</h3>
    <button v-for="area in areas" :key="area" @click="getAreas(area)">{{ area }}</button>
    <div  v-if="selectedArea.length > 0">
      <h3>Select Zone in {{ selectedArea }}</h3>
      <button v-for="zone in zones" :key="zone" @click="getTimezone(zone)" v-text="tidyZone(zone)"></button>
    </div>
    <div v-if="selectedZone.length > 0">
      <h2 v-text="tidyLocation(selectedZone)"></h2>
      <p><strong>{{ timeData }}</strong></p>
      <button @click="getTimezone(selectedZone)">Refresh</button>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
export default {
  name: 'App',
  data() {
    return {
      areas: ['Africa', 'America', 'Antarctica', 'Atlantic', 'Australia', 'Asia', 'Europe', 'Indian', 'Pacific'],
      url: 'http://worldtimeapi.org/api/timezone/',
      selectedArea: '',
      selectedZone: '',
      timeData: '',
      zones: []
    }
  },
  methods: {
    async getAreas(area) {
      this.selectedArea = area;
      this.selectedZone = '';
      const response = await fetch(this.url + area);
      if (!response.ok) {
          console.log(response.status);
      } else {
        const zonesList = await response.json();
        this.zones = zonesList;
      }
    },
    async getTimezone(zone){
      this.selectedZone = zone;
      const response = await fetch(this.url + zone);
      if (!response.ok) {
          console.log(response.status);
      } else {
        const timeData = await response.json();
        this.timeData = moment(timeData.datetime.substring(0, 19)).format('HH:mm:ss');
      }
    },
    tidyZone(zone) {
      return zone.replace(this.selectedArea + "/", "");
    },
    tidyLocation(zone){
      return 'The time in ' + zone.replace(this.selectedArea + "/", "") + ":";
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 60px 15px;
}
button {
  margin-right: 0.5rem;
}
</style>
